html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

/*Hadrosaur*/

figure:nth-child(1) {
  position: absolute;
  left: 20%;
  top: 100px;
  transform: rotate(-15deg);
}

figure:nth-child(1) > figcaption {
  position: absolute;
  bottom: 1em;
  left: 5em;
}

/*Pteranodon*/

figure:nth-child(2) {
  position: absolute;
  left: 20%;
  top: 150px;
}

figure:nth-child(2) > figcaption {
  position: absolute;
  bottom: 1em;
  left: 5em;
}

/*Stegosaurus*/

figure:nth-child(3) {
  position: absolute;
  left: 30%;
  top: 100px;
  transform: rotate(30deg);
}

figure:nth-child(3) > figcaption {
  position: absolute;
  bottom: 1em;
  left: 5em;
}
